* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
   html, body {
    height: 100%;
    overflow: hidden;
  }

body
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.gridContainer
{
    display: flex;
    border: 2px solid black;
    border-radius: 5px;
    height: 60%;
    width: 40%;
}

.smallDiv
{
    flex: 1;
    padding: 0;
    box-shadow: inset 0 0 0 0.25px rgba(11, 1, 1, 0.467);
    background-color: white;
}

.columnContainer
{
    display: flex;
    flex: 1;
    flex-direction: column;
}
:hover.smallDiv
{
    background-color:peachpuff;
}

